<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Тестовое задание Альфа</title>
</head>
<body>
	<div id="root">
		{{{page}}}
	</div>
	<script src="js/bundle.js"></script>
</body>
</html>